/* Header */
.header{
  position: absolute;
  width: 1550px;
  height: 112px;
  left: 200px;
  top: 40px;
}

.button-Aboutus {  
  position: absolute;
  width: 177px;
  height: 48px;
  right: 270px;
  top: 32px;

  background: #FFFFFF;
  border: 2px solid #CC3834;
  border-radius: 17px;

  font-family: 'Judson';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  text-align: center;
  color: #CC3834;
}

.button-Aboutweb {
  position: absolute;
  width: 245px;
  height: 48px;
  right: 0px;
  top: 32px;

  background: #FFFFFF;
  border: 2px solid #CC3834;
  border-radius: 17px;
  
  font-family: 'Judson';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #CC3834;
}

.logo-header{
position: absolute;
width: 168px;
height: 112px;
left: 0px;
top: 0px;
}

/* Main Content */
.Main-content{
  position: absolute;
  width: 1500px;
  height: 512px;
  left: 190px;
  top: 210px;
}

.Main-heart{
  position: absolute;
  width: 790px;
  height: 620px;
  left: 0px;
  top: 0px;
}
.Main-heading{
  position: absolute;
  width: 650px;
  height: 178px;
  right: 110px;
  top: 0px;

  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 96px;

  color: #FC1414;
}

.Main-Subheading{
  position: absolute;
  width: 648px;
  height: 105px;
  right: 105px;
  top: 330px;

  font-family: 'Judson';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #FC1414;
}
.button-start{
  position: absolute;
  width: 250px;
  height: 56px;
  right: 503px;
  top: 450px;

  font-family: 'Judson';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  text-align: left;
  color: #FFFFFF;
  padding: 0px 12px;

  background: #FC1414;
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.Arrow{
  position: absolute;
  width: 39px;
  height: 43px;
  right: 10px;
  top: 6px;
}


/* responsive designs applying */
@media  (min-width: 320px) {
  .header{
    width: 1000px;
    left: 150px;
  }
  .Main-content{
    width: 1230px;
    height: 512px;
    left: 10px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 690px;
    height: 520px;
  }
  .Main-heading{
    right: 52px;
    width: 600px;
  }
  .Main-Subheading{
    right: 100px;
    width: 548px;
  }
  .button-start{
    right: 400px;
  }
}

@media  (min-width: 425px) {
  .header{
    width: 1000px;
    left: 150px;
  }
  .Main-content{
    width: 1230px;
    height: 512px;
    left: 10px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 690px;
    height: 520px;
  }
  .Main-heading{
    right: 52px;
    width: 600px;
  }
  .Main-Subheading{
    right: 100px;
    width: 548px;
  }
  .button-start{
    right: 400px;
  }
}

@media  (min-width: 768px) {
  .header{
    width: 1000px;
    left: 150px;
  }
  .Main-content{
    width: 1230px;
    height: 512px;
    left: 10px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 690px;
    height: 520px;
  }
  .Main-heading{
    right: 52px;
    width: 600px;
  }
  .Main-Subheading{
    right: 100px;
    width: 548px;
  }
  .button-start{
    right: 400px;
  }
}

@media  (min-width: 1024px) {
  .header{
    width: 1000px;
    left: 150px;
  }
  .Main-content{
    width: 1230px;
    height: 512px;
    left: 10px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 690px;
    height: 520px;
  }
  .Main-heading{
    right: 52px;
    width: 600px;
  }
  .Main-Subheading{
    right: 100px;
    width: 548px;
  }
  .button-start{
    right: 400px;
  }
}

@media  (min-width: 1440px) {
  .header{
    width: 1170px;
  }
  .Main-content{
    width: 1330px;
    height: 512px;
    left: 40px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 790px;
    height: 620px;
  }
  .Main-heading{
    right: 0px;
  }
  .Main-Subheading{
    right: 0px;
  }
  .button-start{
    right: 400px;
  }
}

@media  (min-width: 1880px) {
  .header{
    width: 1600px;
  }
  .Main-content{
    width: 1330px;
    height: 512px;
    left: 230px;
    top: 210px;
  }
  .Main-heart{
    position: absolute;
    width: 790px;
    height: 620px;
  }
  .Main-heading{
    right: 0px;
  }
  .Main-Subheading{
    right: 45px;
  }
  .button-start{
    right: 345px;
  }
}

@media  (min-width: 2560px) {
  .header{
    width: 2200px;
  }
  .Main-content{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 530px;
    top: 300px;
  }
  .Main-heart{
    position: absolute;
    width: 990px;
    height: 820px;
  }
  .Main-heading{
    top: 35px;
  }
  .Main-Subheading{
    top: 360px;
  }
  .button-start{
    top: 490px;
  }
}

